%h1= @group_chat.title
#messages{"data-group-chat-id" => "#{@group_chat.id}"}
  = render @group_chat.messages
%hr/

= form_for @message, url: '#' do |f|
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
    %small.text-muted From 2 to 1000 characters
  = f.submit "Post", class: 'btn btn-primary btn-lg'
